<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>

    <h1>Quiz</h1>

    <p th:text=" ' Quelle est la capitale du pays : ' + ${pays.name} + ' ?'"></p>

    <form method="POST" action="reponse">
        <div th:each=" c:${capitales}">
        <input th:value="${c}"  type="radio" th:id="${c}" name="capitale" >
        <label th:text="${c}" th:for="${c}"></label>
        </div>

        <button type="submit">Valider votre réponse</button>
    </form>

    <p th:text=" 'Votre score est de : ' + ${compteur}"></p>


</body>
</html>